@{
    ViewBag.Title = "About";
}

<h3>About the App</h3>

<p>The Active Incidents map displays open calls for the <a href="http://www.houstontx.gov/fire/">Houston Fire Department</a> and traffic-related incidents handled by the <a href="http://www.houstonpolice.org/">Houston Police Department</a>. It uses the latitude and longitude of each incident (included in each call when it is opened) to plot its location on the map.</p>

<p>By selecting an incident marker, you can view details about each incident (e.g. incident type, date and time call was opened, number of units dispatched, types of units on scene). The Active Incidents map also displays real-time traffic data from Google.</p>

<p>The Archive Search page allows you to search the historical incident data. You can search by date and/or incident type.</p>

<h3>About the Author</h3>

<p>David M. Wilson is a C# developer with over four years of experience in software development and over six years of experience as an IT professional. David has developed software for the financial, petrochemical, and call center industries.</p>

<p>View David's <a href="https://www.linkedin.com/in/davidmauricewilson">LinkedIn</a> profile or <a href="mailto:dmwilson.info@gmail.com">contact him</a>.</p>

<h3>Technology Colophon</h3>

<ul>
    <li>ASP.NET MVC 5</li>
    <li>Entity Framework 6</li>
    <li>jQuery, jQuery UI, Modernizr</li>
    <li>Bootstrap, Google Maps API</li>
    <li><a href="https://github.com/jmelosegui/GooglemapMvc">Google Map Control for ASP.NET MVC</a> by J. M. Elosegui</li>
    <li><a href="http://www.benjaminkeen.com/google-maps-coloured-markers/">Colored Markers for Google Maps</a> by Benjamin Keen</li>
</ul>

<p>This application is free software, released under the <a href="http://www.gnu.org/copyleft/gpl.html">GNU General Public License</a>. The source code is available on <a href="https://github.com/d-m-wilson/HFDIncidentsWebMVC">GitHub</a>.</p>