<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="HFDIncidentsReadOnlyContext" connectionString="Server=tcp:houstonincidents.database.windows.net,1433;Data Source=houstonincidents.database.windows.net;Initial Catalog=HoustonIncidents;Persist Security Info=False;User ID=HouIncWeb;Password=HouWebIncP4$$;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="HFDIncidentsHangfire" connectionString="Server=tcp:houstonincidents.database.windows.net,1433;Data Source=houstonincidents.database.windows.net;Initial Catalog=HoustonIncidents;Persist Security Info=False;User ID=HouIncHangfire;Password=HANGf1r3!;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="HFDIncidentsContext" connectionString="Server=tcp:houstonincidents.database.windows.net,1433;Data Source=houstonincidents.database.windows.net;Initial Catalog=HoustonIncidents;Persist Security Info=False;User ID=HouIncService;Password=HouServiceIncP4$$;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <appSettings>
    <add key="GoogleAnalyticsKey" value="UA-52729436-1" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
    <add key="GoogleMapsKey" value="AIzaSyAN84cxAuCBr1WIxQL5LJSEsZP-am01WL0" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
    <add key="IncidentsServiceUrl" value="https://dmwilson.info/api/ActiveIncident?callback=?" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>
